@media only screen and (max-height:1080px){
    div#wrapper {
        background-color: rgba(255,255,255,0.8) !important;        
        margin-top: 20% !important;
        padding-top: 10% !important;
        padding-bottom: 10% !important;        
    }
}

body {
    background-image: url('img/MainBackground.jpg');
    background-size:cover;                
}

div#wrapper {
    background-color: rgba(255,255,255,0.8);        
    margin-top: 13%;
    padding-top: 10%;
    padding-bottom: 10%;        
}